/* .flex-container{
 background: #274646;
 display: flex;
 display: wrap;
 
}
.flex{
    justify-content: center;
} */

/* Указываем box sizing */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Убираем внутренние отступы */
ul[class],
ol[class] {
  padding: 0;
}

/* Убираем внешние отступы */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

/* Выставляем основные настройки по-умолчанию для body */
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* Удаляем стандартную стилизацию для всех ul и il, у которых есть атрибут class*/
ul[class],
ol[class] {
  list-style: none;
}

/* Элементы a, у которых нет класса, сбрасываем до дефолтных стилей */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Упрощаем работу с изображениями */
img {
  max-width: 100%;
  display: block;
}

/* Указываем понятную периодичность в потоке данных у article*/
article > * + * {
  margin-top: 1em;
}

/* Наследуем шрифты для инпутов и кнопок */
input,
button,
textarea,
select {
  font: inherit;
}

/* Удаляем все анимации и переходы для людей, которые предпочитай их не использовать */
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

.container {
    width: 1400px;
    margin: 0 auto;
}

header {
    width: 100%;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
}

.block_windows {
  height: 42px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.windows_left{
  height: 42px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  
}


.windows_right{
 height: 42px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  

}


.windows_left > img{
  margin-right: 28px;
}

.windows_left > img:nth-last-child(2) {
  margin-right: 8px;
}

.windows_right > img{
  margin-right: 10px;
}

.windows_right > img:nth-child(2){
  margin-right: 26px;
}

.first_icon{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header_block {
    width: 100%;
    

}
.baggs{
  height: 42px;
  display: flex;
  justify-content:space-between;
  align-items: center;
}

.header_block__first {
    background-color: #274646;
    
    
}
.header_block__nav {
    background-color: #FFFFFF;
    height: 52px;
}

.block_nav__border {
    display: flex;
    justify-content: space-between;
    height: 100%;
    border-bottom: 1px solid #E5E5E5;
    align-items: stretch;

}



.block_nav__second_border {
  display: flex;
  justify-self: start;
  align-items: center;
  gap: 20px;
  height: 52px;
  
}


.nav_element {
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav_element a {
    text-decoration: none;
    color: #274646;
    font-family: 'Value Sans Pro';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 16px;
    color:#274646 ;

}

.nav_element:hover{
    border-bottom: 3px solid #274646;

}

.header_block__second_border:hover {
    background-color: #FFFFFF;
    height: 52px;
    display: flex;
    justify-content: flex-start;
    

}





.nav_button_element a{
  font-family: 'Value Sans Pro';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 16px;
  position: static;
  Padding: 6px, 14px;
  border-radius: 46px;
 


}



.button{
  color: #6B6B6B;
  position: static;
  width: 132px;
 height: 40px;
 left: 0px;
 top: 8px;
 border-radius: 46px;
 border: 1px solid;
 border: #6B6B6B;
 
}

.button a {
  text-decoration: none;
  
  color:#6B6B6B
  
  
  
}


.button:hover {
  background: #E9E6E6;
  color: #274646;
}
 
.button a:hover{
  color: #274646;
  background: #E9E6E6;
  }

.nav_button_element {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #E9E6E6;
  
}

.shadow
{
  box-shadow: 0px 0px 4px #E9E6E6(0, 0, 0, 0.15);
}
