
/* Шрифты */
   
@font-face {
    font-family: RimmaSans;
    src: url(./src/fonts/rimma-sans-bold.ttf);
  }
  
  @font-face {
    font-family: ValueSansPro;
    src: url(./src/fonts/ValueSansPro-Bold.ttf) ;
   
  }
  
  @font-face {
    font-family: ValueSansPro;
    src: url(./src/fonts/ValueSansPro-Bold.eot);
   
  }
  
  @font-face {
    font-family: ValueSansPro;
    src: url(./src/fonts/ValueSansPro-Bold.woff);
  }
  
  @font-face { 
    font-family: ValueSansPro_mid;
    src: url(./src/fonts/ValueSansPro-Medium.woff);
  
  }
  
  @font-face{
    font-family: ValueSansPro_reg;
    src: url(./src/fonts/ValueSansPro-Regular.woff)
  }
  
  