/* ФУТЕР */

.footer{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    position: static;
    width: 100%;
    height: 696px;
    background: #274646;
    margin-top: 80px;
    }
    
    .footer_text_elements{
      border-bottom: 1px solid #FFBDC8;
      font-family: ValueSansPro_mid;
      font-size: 24px;
      line-height: 100%;
      text-transform: lowercase;
      color: #F7F7F7;
      margin-bottom: 32px;
    }
    .footer_icon_elements{
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 16px;
    }
    
    
    .footerIcons{
      margin: 40px;
      display: flex;
      justify-content: center;
    }
    
    .footerLogophone{
      display: flex;
      justify-content: center;
      align-items: center;
      margin-bottom: 32px;
    }
    .footer_block{
    margin: 64px;
    
    }
    
    .footer_bottom_info{
      position: static;
      width: 100%;
      height: auto;
      background: #565D95;
      display: flex;
      justify-content: space-between;
      padding: 10px 60px;
      flex-wrap: wrap;
      }
    
    
    .footer_left_side_bottomText {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      gap: 16px;
      font-family: ValueSansPro_reg;
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 16px;
      color: #FFFFFF;
      flex-wrap: wrap;
      }
    
    .footer_right_side_bottomText{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 40px;
    font-family: ValueSansPro;
    font-size: 16px;
    color: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 8px;
    flex-wrap: wrap;
    }
    
    .footer_bottomLinks{
     color: white;
    }

.highlitedFooterText {
        color: #F2AF29; 
      }

.footerLinksText a{
    text-decoration: none;
    font-family: ValueSansPro_reg;
    font-weight: 500;
    font-size: 24px;
    line-height: 100%;
    color: #F7F7F7;
    font-style: normal;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 40px;
}