/* Медиа                  */

@media (max-width: 575px) {
.container {
  width: auto;
  padding: 0 0.75rem;
}

.hidedlogo {
  display: none;
}

.windows_right {
  display: none;
}

.image {
  display: flex;
}

.hided {
  display: none;
}

.logophone {
  display: flex;
}

.windows_left {
  width: 100%;
}

.main_content {
  padding-top: 190px;
}

.product_cards {
  display: grid;
  grid-template-columns: auto;
  row-gap: 8px;
  column-gap: 32px;
}

.product_card {
  padding: 16px;
  display: flex;
  gap: 24px;
}

.product_card:hover {
  border-radius: 0;
  display: flex;
}

.amount {
  display: none;
}

.order_sidebar {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 24px;
  justify-content: flex-start;
}

.roll_img {
  width: 136px;
  height: 99px;
}

.product_card {
  border-bottom: 1px solid #E5E5E5;
}

.img {
  max-width: none;
  display: block;
}

.textin_grid {
  font-family: ValueSansPro_mid;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 18px;
  color: #274646;
}

.first_section_heading {
  font-weight: 500;
  font-size: 24px;
}

.first_category_section {
  margin-top: 64px;
}

h1.first_section_heading {
  margin-bottom: 64px;
}

.rolls_tape_text {
  font-weight: 700;
  font-size: 60px;
  line-height: 100%;
}
.cards_block__elements {

  margin-bottom: 42px;
}
.hidedFooterText {
  justify-content: center;
  display: flex;
}

.pink_line{
display: none;
}
.footerLogophone {
display: none;
}
.footerLogophone {
  display: none;
}
.hidedFooterLogo{
display: flex;
}
.pink_line_mobile{
  display: flex;
}

}

@media (min-width: 576px) {
.container {
  max-width: 540px;
}

.hidedlogo {
  display: none;
}

.windows_right {
  display: none;
}

.image {
  display: flex;
}

.hided {
  display: none;
}

.logophone {
  display: flex;
}

.windows_left {
  width: 100%;
}

.product_cards {
  display: grid;
  grid-template-columns: auto;
  row-gap: 8px;
  column-gap: 32px;
}

.product_card {
  padding: 16px;
  display: flex;
}

.amount {
  display: none;
}

.product_card:hover {
  border-radius: 0;
}

.product_card {
  border-bottom: none;
}

.img {
  max-width: none;
  display: block;
}

.first_category_section {
  margin-top: 64px;
}

.rolls_tape_text {
  font-weight: 700;
  font-size: 60px;
  line-height: 100%;
}

h1.first_section_heading {
  margin-bottom: 64px;
}
.cards_block__elements {

  margin-bottom: 42px;
}
.hidedFooterText {
  justify-content: center;
  display: flex;
}
.pink_line{
  display: none;
  }
  .footerLogophone {
    display: none;
  }
  .hidedFooterLogo{
  display: flex;
  }
  .pink_line_mobile{
    display: flex;
  }
}

@media (min-width: 768px) {
.container {
  max-width: 720px;
}

.logophone {
  display: none;
}

.hidedlogo {
  display: flex;
}

.windows_right {
  display: flex;
}

.windows_left {
  width: auto;
}

.product_cards {
  display: grid;
  grid-template-columns: repeat(2, 4fr);
  row-gap: 24px;
  column-gap: 32px;
}

.product_card {
  display: grid;
}

.amount {
  display: flex;
}

.product_img {
  width: auto;
  position: relative;
}

.property_icons {
  position: absolute;
}

.product_card:hover {
  border-radius: 8px;
}

.product_card {
  border-bottom: none;
}


.rolls_tape_text {
  font-weight: 700;
  font-size: 80px;
}

.first_rolls_tape {
  height: 100px;
}

.second_rolls_tape {
  height: 100px;
}

.second_rolls_tape_text {
  font-size: 80px;
}

.third_rolls_tape {
  height: 100px;
}

.third_rolls_tape_text {
  font-size: 80px;
}

h1.first_section_heading {
  margin-bottom: 32px;
}
.cards_block__elements {

  margin-bottom: auto;
}
.hidedFooterText{
  display: none;
}
.pink_line{
  display: flex;
  }
  .footerLogophone {
    display: flex;
  }
  .hidedFooterLogo{
  display: none;
  }
  .pink_line_mobile{
    display: none;
  }
}

@media (min-width: 992px) {
.container {
  max-width: 960px;
}

.logophone {
  display: none;
}

.hidedlogo {
  display: flex;
}

.windows_right {
  display: flex;
}

.windows_left {
  width: 100%;
}

.windows_left {
  width: auto;
}

.second_rollicons {
  display: grid;
  grid-template-columns: repeat(2, 3fr);
  column-gap: 1rem;
  row-gap: 2rem;
}

.product_cards {
  display: grid;
  grid-template-columns: repeat(2, 3fr);
  row-gap: 24px;
  column-gap: 32px;
}

.amount {
  display: flex;
}

.product_img {
  width: auto;
  position: relative;
}

.property_icons {
  position: absolute;
}

.product_card {
  border-bottom: none;
}

.rolls_tape_text {
  font-weight: 700;
  font-size: 80px;
}

.first_rolls_tape {
  height: 100px;
}

.second_rolls_tape {
  height: 100px;
}

.second_rolls_tape_text {
  font-size: 80px;
}

.third_rolls_tape {
  height: 100px;
}

.third_rolls_tape_text {
  font-size: 80px;
}

h1.first_section_heading {
  margin-bottom: 32px;
}
.cards_block__elements {

  margin-bottom: auto;
}
.hidedFooterText{
  display: none;
}
.pink_line{
  display: flex;
  }
  .footerLogophone {
    display: flex;
  }
  .hidedFooterLogo{
  display: none;
  }
  .pink_line_mobile{
    display: none;
  }
}

@media (min-width: 1200px) {
.container {
  max-width: 1140px;
}

.hided {
  display: flex;
}

.logophone {
  display: none;
}

.hidedlogo {
  display: flex;
}

.windows_left {
  width: auto;
}

.hidedlogo {
  display: flex;
}

.windows_right {
  display: flex;
}

.leftside>img:nth-child(4) {
  margin-right: 28px;
}

.leftside>img:nth-child(4) {
  margin-right: 23px;
  margin-left: 0px;
}

.windows_right>img:nth-child(3) {
  margin-right: 15px;
}

.leftside>img:nth-child(2) {
  margin-right: 23px;
}

.product_cards {
  display: grid;
  grid-template-columns: repeat(4, 3fr);
  row-gap: 24px;
  column-gap: 32px;
}

.amount {
  display: flex;
}

.product_img {
  width: auto;
  position: relative;
}

.property_icons {
  position: absolute;
}

.product_card {
  border-bottom: none;
}

.rolls_tape_text {
  font-weight: 700;
  font-size: 80px;
}

.first_rolls_tape {
  height: 100px;
}

.second_rolls_tape {
  height: 100px;
}

.second_rolls_tape_text {
  font-size: 80px;
}

.third_rolls_tape {
  height: 100px;
}

.third_rolls_tape_text {
  font-size: 80px;
}

h1.first_section_heading {
  margin-bottom: 32px;
}
.cards_block__elements {

  margin-bottom: auto;
}
.hidedFooterText{
  display: none;
}
.pink_line{
  display: flex;
  }
  .footerLogophone {
    display: flex;
  }
  .hidedFooterLogo{
  display: none;
  }
  .pink_line_mobile{
    display: none;
  }
}

@media (min-width: 1400px) {
.container {
  max-width: 1320px;
}

.hided {
  display: flex;
}

.logophone {
  display: none;
}

.hidedlogo {
  display: flex;
}

.windows_left {
  width: auto;
}

.container {
  max-width: 1320px;
}

.hidedlogo {
  display: flex;
}

.windows_right {
  display: flex;
}

.leftside>img:nth-child(4) {
  margin-right: 28px;
}

.leftside>img:nth-child(4) {
  margin-right: 23px;
  margin-left: 0px;
}

.windows_right>img:nth-child(3) {
  margin-right: 15px;
}

.leftside>img:nth-child(2) {
  margin-right: 23px;
}

.product_cards {
  display: grid;
  grid-template-columns: repeat(4, 3fr);
  row-gap: 24px;
  column-gap: 32px;
}

.amount {
  display: flex;
}

.product_card {
  padding: 16px;
}

.product_img {
  width: auto;
  position: relative;
}

.property_icons {
  position: absolute;
}

.product_card {
  border-bottom: none;
}

.rolls_tape_text {
  font-weight: 700;
  font-size: 80px;
}

.first_rolls_tape {
  height: 100px;
}

.second_rolls_tape {
  height: 100px;
}

.second_rolls_tape_text {
  font-size: 80px;
}

.third_rolls_tape {
  height: 100px;
}

.third_rolls_tape_text {
  font-size: 80px;
}

h1.first_section_heading {
  margin-bottom: 32px;
}
.cards_block__elements {

  margin-bottom: auto;
}
.hidedFooterText{
  display: none;
}
.pink_line{
  display: flex;
  }
  .footerLogophone {
    display: flex;
  }
  .hidedFooterLogo{
  display: none;
  }
  .pink_line_mobile{
    display: none;
  }
}

/* Медиа */