/* .flex-container{
 background: #274646;
 display: flex;
 display: wrap;
 
}
.flex{
    justify-content: center;
} */

/* Указываем box sizing */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Убираем внутренние отступы */
ul[class],
ol[class] {
  padding: 0;
}

/* Убираем внешние отступы */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

/* Выставляем основные настройки по-умолчанию для body */
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* Удаляем стандартную стилизацию для всех ul и il, у которых есть атрибут class*/
ul[class],
ol[class] {
  list-style: none;
}

/* Элементы a, у которых нет класса, сбрасываем до дефолтных стилей */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Упрощаем работу с изображениями */
img {
  max-width: 100%;
  display: block;
}

/* Указываем понятную периодичность в потоке данных у article*/
article > * + * {
  margin-top: 1em;
}

/* Наследуем шрифты для инпутов и кнопок */
input,
button,
textarea,
select {
  font: inherit;
}

/* Удаляем все анимации и переходы для людей, которые предпочитай их не использовать */
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}




header{
    width: 100%;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    position: fixed;
}


.container{
    width: 1400px;
    margin: 0 auto;
    
}


.block_windows{
    height: 52px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.windows_left{
    height: 42px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 28px;
}


.adress_icon{
  display: flex;
  justify-content: space-between;
}


.leftside {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.leftside > img:nth-child(1){
  margin-right: 28px;
  margin-left: 56px;

}
.leftside > img:nth-child(2){
  margin-right: 28px;
  margin-left: 56px;

}
.leftside > img:nth-child(3){
  margin-right: 28px;
  margin-left: 56px;

}
.leftside > img:nth-child(4){
  margin-right: 28px;
  margin-left: 56px;

}

.windows_right{
    height: 42px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-right: 25;
}


.windows_left > img{
    margin-right: 28px;
}


.windows_left > img:nth-last-child(2) {
    margin-right: 25px;
}

.windows_right > img{
    margin-right: 17px;
}

.windows_right > img:nth-child(2){
    margin-right: 5px;
}

.windows_right > img:nth-child(1){
  margin-right: 24px;
}
.windows_right > img:nth-child(3){
  margin-right: 27px;
}
.header_block{
    width: 100%;
    height: 54px;
}

.header_block__first {
    background-color: #274646;   
}
  
.header_block__nav {
    background-color: #FFFFFF;
    height: 52px;
}

.block_nav__border {
    display: flex;
    justify-content: flex-start;
    height: 100%;
    border-bottom: 1px solid #E5E5E5;
    align-items: stretch;
    overflow-x: scroll;
    gap: 51px;
    white-space: nowrap;

}
.block_nav__border::-webkit-scrollbar{
  display: none;
}

.block_nav__second_border {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 15px;
    height: 52px;
    overflow-x: auto;
    white-space: nowrap;
    font-family: 'Value Sans Pro';
    


}


.block_nav__second_border::-webkit-scrollbar{
  display: none;
}
.nav_element {
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.nav_element a {
    text-decoration: none;
    color: #274646;
    font-family: 'Value Sans Pro';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 16px;
    color:#274646 ;
    

}

.nav_element:hover{
    border-bottom: 3px solid #274646;

}


.header_block__second_border:hover {
    background-color: #FFFFFF;
    height: 52px;
    display: flex;
    justify-content: flex-start;
    

}


.nav_button_element a{
    font-family: 'Value Sans Pro';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 16px;
    position: static;
    border-radius: 46px;
    
    
}

.button{
    color: #6B6B6B;
    position: static;
    height: 40px;
    border-radius: 46px;
    border: 1px solid;
    border: #6B6B6B;
}

.button a{
  text-decoration: none;
  color:#6B6B6B
}

.button:hover {
  background: #E9E6E6;
  color: #274646;
}

.button a:hover{
  color: #274646;
  background: #E9E6E6;
}
.nav_button_element {
  display: flex;
  align-items: center;
  border: 1px solid #E9E6E6;
  padding: 0 16px;
 
  
}


.shadow{
  box-shadow: 0px 0px 4px #E9E6E6(0, 0, 0, 0.15);
}


@media (min-width: 0px) {
    .container {
        max-width: 576px;
    }
    .hidedlogo{
      display: none;
    }
    .windows_right {
      display: none;
      
    }
    .image{
      display: flex;
    }

    .hided{
      display: none;
    }
    .header_block {
      display:flex ;
      flex-wrap: wrap;
    }
    .logophone{
      display: flex;
    }
    .windows_left{
      width: 100%;
    }
    .leftside > img:nth-child(1) {
      margin-right: 24px;
      margin-left: 20px;
  }
}

@media (min-width: 768px) {
    .container {
        max-width: 720px;
    }
    .windows_left > img{
      margin-right: 28px;
  
    }
    .windows_right {
      display: flex;
    }
    .logophone{
      display: none;
    }
    .hidedlogo{
      display: flex;
    }
}

@media (min-width: 992px) {
    .container {
        max-width: 960px;
    }
    .logophone{
      display: none;
    }
    .hidedlogo{
      display: flex;
    }
    .windows_left{
      width: auto;
    }
}

@media (min-width: 1280px) {
    .container {
        max-width: 1250px;
    }
    .hided{
      display: flex;
    }
    .logophone{
      display: none;
    }
    .hidedlogo{
      display: flex;
    }
    .windows_left{
      width: auto;
    }
}

@media (min-width:1400px) {
    .container {
        max-width: 1320px;
    }
    .hidedlogo{
      display: flex;
    }
    .windows_left{
      width: auto;
    }
  }

